body {
    font-family: Arial, sans-serif;
    background: #a3c9f3;
    margin: 0;
    font-family: "hoss-round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.homescreen {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 50px;
    border-radius: 30px;
}

.game-container {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 50px;
    border-radius: 30px;
}

.icon-btn {
    font-size: 20px;
    padding: 8px 10px;
    border: none;
    background: #d1e7ff;
    color: #4f8ed6;
    border-radius: 6px;
    cursor: pointer;
}

/* LIVES */

.lives {
    margin: 10px 0 20px 0;
    font-size: 18px;
}

/* MAIN LAYOUT */

/* HANGMAN */

.hangman-box {
    margin-bottom: 15px;
}

.hint-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background: #ffd966;
    cursor: pointer;
}

/* GAME AREA */

.game-area {
    flex: 1;
}

/* HINT */

.hint {
    /* Initial state: hidden */
    font-size: large;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    /* Use visibility to ensure it doesn't affect layout when hidden */
    transition: opacity 0.5s ease-in-out;
    /* Define the transition effect */
}

.hint.is-visible {
    /* Visible state */
    opacity: 1;
    visibility: visible;
}

/* WORD */

.word {
    font-size: 30px;
    margin-bottom: 30px;
}

.letter {
    border-bottom: 3px solid black;
    width: 25px;
    text-align: center;
    display: inline-block;
}

/* KEYBOARD */

.keyboard-row .key-col {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}

.key {
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #7cb2f0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.key:hover {
    background: #99c5f8;
}

/* GREYED LETTERS (for JS later) */

.key.used {
    background: #999;
    color: white;
    cursor: default;
}

.carousel-inner {
    justify-content: center;
    align-items: center;
}

.carousel-item {
    margin: auto;
    white-space: normal;
    max-width: 1200px;
    width: 100% !important;
    height: 90vh;
    background: white;
    padding: 50px;
    border-radius: 30px;
}

.carousel h2 {
    font-size: 28px;
    background-color: white;
    color: rgb(109, 162, 231);
    /* Ensure text is readable */
}

/* Responsive adjustments */

@media (max-width: 1150px) {

    .container {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    .hangman-box img {
        max-width: 200px;
    }

    .game-container {
        padding: 20px;
    }

    .game-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hangman-box {
        margin-bottom: 30px;
    }
}

/* GAME MODAL OVERLAY */

.game-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 0.4s ease;
}

.game-modal.show {
    opacity: 1;
    pointer-events: auto;
}

.game-modal .content {
    background: white;
    max-width: 420px;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    padding: 30px;
}

.game-modal img {
    max-width: 130px;
    margin-bottom: 20px;
}

.game-modal h2 {
    font-size: 1.53rem;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.game-modal p {
    font-size: 1.15rem;
    margin: 15px 0 30px;
    font-weight: 500;
}

.game-modal p b {
    font-weight: 600;
    color: #4f8ed6;

}

.game-modal button {
    padding: 12px 23px;
    border: none;
    border-radius: 15px;
    background: #79bd79;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.game-modal button:hover {
    background: #54a354;
}