body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:30px;
}

.game-container{
    max-width:1200px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
}

.icon-btn{
    font-size:20px;
    padding:8px 10px;
    border:none;
    background:#eee;
    border-radius:6px;
    cursor:pointer;
}

/* LIVES */

.lives{
    margin:10px 0 20px 0;
    font-size:18px;
}

.heart{
    margin-left:3px;
}

/* MAIN LAYOUT */

/* HANGMAN */

.hangman-box{
    width:200px;
    height:250px;
    border:2px solid #ccc;
    margin-bottom:15px;
}

.hint-btn{
    padding:10px 16px;
    border:none;
    border-radius:8px;
    background:#ffd966;
    cursor:pointer;
}

/* GAME AREA */

.game-area{
    flex:1;
}

/* HINT */

.hint {
  /* Initial state: hidden */
   font-weight:bold;
    margin-bottom:20px;
  opacity: 0;
  visibility: hidden; /* Use visibility to ensure it doesn't affect layout when hidden */
  transition: opacity 0.5s ease-in-out; /* Define the transition effect */
}

.hint.is-visible {
  /* Visible state */
  opacity: 1;
  visibility: visible;
}


/* WORD */

.word{
    font-size:30px;
    margin-bottom:30px;
}

.letter{
    border-bottom:3px solid black;
    width:25px;
    text-align:center;
    display:inline-block;
}

/* KEYBOARD */

.keyboard-row .key-col{
    flex:0 0 calc(100% / 7);
    max-width:calc(100% / 7);
}

.key{
    height:50px;
    border:none;
    border-radius:12px;
    background:#e6e6e6;
    font-weight:bold;
    cursor:pointer;
    width:100%;
}

.key:hover{
    background:#d5d5d5;
}

/* GREYED LETTERS (for JS later) */

.key.used{
    background:#999;
    color:white;
    cursor:default;
}
