body {
    font-family: Arial, sans-serif;
    background: #abcaee;
    margin: 0;
    padding: 30px;
}

.game-container {
    max-width: 1300px;
    margin: auto;
    transform: translateY(10%);
    background: white;
    padding: 100px;
    border-radius: 30px;
}

.icon-btn {
    font-size: 20px;
    padding: 8px 10px;
    border: none;
    background: #eee;
    border-radius: 6px;
    cursor: pointer;
}

/* LIVES */

.lives {
    margin: 10px 0 20px 0;
    font-size: 18px;
}

/* MAIN LAYOUT */

/* HANGMAN */

.hangman-box {
    margin-bottom: 15px;
}

.hint-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background: #ffd966;
    cursor: pointer;
}

/* GAME AREA */

.game-area {
    flex: 1;
}

/* HINT */

.hint {
    /* Initial state: hidden */
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 0;
    visibility: hidden;
    /* Use visibility to ensure it doesn't affect layout when hidden */
    transition: opacity 0.5s ease-in-out;
    /* Define the transition effect */
}

.hint.is-visible {
    /* Visible state */
    opacity: 1;
    visibility: visible;
}


/* WORD */

.word {
    font-size: 30px;
    margin-bottom: 30px;
}

.letter {
    border-bottom: 3px solid black;
    width: 25px;
    text-align: center;
    display: inline-block;
}

/* KEYBOARD */

.keyboard-row .key-col {
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}

.key {
    height: 50px;
    border: none;
    border-radius: 12px;
    background: #e6e6e6;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.key:hover {
    background: #d5d5d5;
}

/* GREYED LETTERS (for JS later) */

.key.used {
    background: #999;
    color: white;
    cursor: default;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background-color: white;
    border-radius: 40px;
    display: flex;
}

.carousel h2 {
    font-size: 28px;

    /* Optional: Add a background color for better readability over images */
    background-color: white;
    color: rgb(101, 137, 216); /* Ensure text is readable */
}